* {
    margin: 0;

}

.home {
    background-image: url('./media/picture/3.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    display: none;

}



.second-nav {
    list-style: none;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    position: absolute;

}

.thrid-nav {
    list-style: none;
}

.logo {
    font-size: 23px;
    color: rgb(1, 31, 25);
    font-weight: bolder;
    padding-left: 10px;


}




.head {
    display: flex;
    align-items: center;
}

.home-welcome {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.greentext {
    color: rgb(190, 242, 111);
}

.bigtext {
    font-size: 50px;
}

.boldtext {
    font-weight: bolder;
}

.home-second-part {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    padding-bottom: 300px;
}

.pig1 {
    position: absolute;
    padding: 100px;
    float: right;
}


.home-b-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.start-button {
    padding: 10px 17px;
    background-color: rgb(117, 220, 20);
    font-size: 15px;
}

.read-button {
    padding: 10px 17px;
    background-color: rgb(251, 251, 251);
    font-size: 15px;
    color: black;
}

.home2 {
    background-color: rgb(246, 248, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 150px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.home2-contain {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px 0px;



}

.home2-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.home2-contain-item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
}

.home2-title {
    text-align: center;
    width: 70%;
}

.mediumtext {
    font-size: 22px;
}

.home2-contain-item:hover {
    border: 2px solid rgb(255, 255, 127);
    cursor: pointer;
}

.graytext {
    color: rgb(100, 96, 96);
}

.home3 {
    background-color: rgb(33, 33, 33);
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.whitetext {
    color: white;
}

.home3-navbar {
    transition: all 0.3s;
}

.home3-navbar:hover {
    cursor: pointer;
    color: rgb(50, 133, 45);
}

.home3-nav {
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
}

.home3-contain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px 0px;


}

.home3-contain-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0px;
    background-color: rgb(255, 255, 255);
    border: 5px solid gray;
    transition: all 0.5s;
    border-radius: 5px;

}

.home3-contain-detail {
    width: 50%;
}

.home3-contain-item:hover {
    border-color: rgb(42, 88, 13);
}

.home3-head {
    text-align: center;
    padding-top: 100px;
}

.home4-reason-contain {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}


.home4-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;
    gap: 20px;
}

.home4-reason {
    border: 1px dotted rgb(173, 173, 173);
    padding: 20px;
    margin: 15px;
}

.home4-reason:hover {
    border-color: rgb(3, 93, 38);
}

.home5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    gap: 50px;

}

.home5-card-group {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
}

.greenbutton {
    transition: all 0.3s;
}

.greenbutton:hover {
    cursor: pointer;
    color: green;
}

.footer {
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.footer-contain {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 50px;
    gap: 70px;

}

.product1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;

}

.product {
    padding: 100px 20px;
}

.title {
    padding: 20px 0px;
}